glymur
numpy
scipy
sklearn
tifffile
tqdm
git+git://github.com/chunglabmit/mp_shared_memory#egg=mp_shared_memory
git+git://github.com/chunglabmit/blockfs#egg=blockfs
git+git://github.com/chunglabmit/precomputed-tif#egg=precomputed-tif
git+git://github.com/chunglabmit/pystripe#egg=pystripe
setuptools
zarr
dcimg
torch
scikit-learn