glymur
numpy
scipy
sklearn
tifffile
tqdm
git+https://github.com/chunglabmit/mp_shared_memory.git#egg=mp_shared_memory
git+https://github.com/chunglabmit/blockfs.git#egg=blockfs
git+https://github.com/chunglabmit/precomputed-tif.git#egg=precomputed-tif
git+https://github.com/chunglabmit/pystripe.git#egg=pystripe
setuptools
zarr
dcimg
torch
scikit-learn